DatabaseManager/Connected Services/TagServiceReference/TagService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="TagService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:60923/Service/TagService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:60923/Service/TagService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:60923/Service/TagService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SharedLibrary.Model" />
      <xsd:import schemaLocation="http://localhost:60923/Service/TagService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITagService_SaveTags_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTags" />
  </wsdl:message>
  <wsdl:message name="ITagService_SaveTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTagsResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTags" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTagsResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_AddTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTag" />
  </wsdl:message>
  <wsdl:message name="ITagService_AddTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_DeleteTag_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTag" />
  </wsdl:message>
  <wsdl:message name="ITagService_DeleteTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllTagNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTagNames" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllTagNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTagNamesResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetOutputTags_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOutputTags" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetOutputTags_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOutputTagsResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllOutput_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOutput" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllOutput_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllOutputResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_ChangeOutputTag_InputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOutputTag" />
  </wsdl:message>
  <wsdl:message name="ITagService_ChangeOutputTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:ChangeOutputTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_StartTag_InputMessage">
    <wsdl:part name="parameters" element="tns:StartTag" />
  </wsdl:message>
  <wsdl:message name="ITagService_StartTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_StopTag_InputMessage">
    <wsdl:part name="parameters" element="tns:StopTag" />
  </wsdl:message>
  <wsdl:message name="ITagService_StopTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopTagResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllTagsAndScanStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTagsAndScanStatus" />
  </wsdl:message>
  <wsdl:message name="ITagService_GetAllTagsAndScanStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTagsAndScanStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ITagService_Init_InputMessage">
    <wsdl:part name="parameters" element="tns:Init" />
  </wsdl:message>
  <wsdl:message name="ITagService_Init_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitResponse" />
  </wsdl:message>
  <wsdl:portType name="ITagService">
    <wsdl:operation name="SaveTags">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/SaveTags" message="tns:ITagService_SaveTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/SaveTagsResponse" message="tns:ITagService_SaveTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetTags" message="tns:ITagService_GetTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetTagsResponse" message="tns:ITagService_GetTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/AddTag" message="tns:ITagService_AddTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/AddTagResponse" message="tns:ITagService_AddTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/DeleteTag" message="tns:ITagService_DeleteTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/DeleteTagResponse" message="tns:ITagService_DeleteTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTagNames">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetAllTagNames" message="tns:ITagService_GetAllTagNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetAllTagNamesResponse" message="tns:ITagService_GetAllTagNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOutputTags">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetOutputTags" message="tns:ITagService_GetOutputTags_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetOutputTagsResponse" message="tns:ITagService_GetOutputTags_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllOutput">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetAllOutput" message="tns:ITagService_GetAllOutput_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetAllOutputResponse" message="tns:ITagService_GetAllOutput_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ChangeOutputTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/ChangeOutputTag" message="tns:ITagService_ChangeOutputTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/ChangeOutputTagResponse" message="tns:ITagService_ChangeOutputTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/StartTag" message="tns:ITagService_StartTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/StartTagResponse" message="tns:ITagService_StartTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StopTag">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/StopTag" message="tns:ITagService_StopTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/StopTagResponse" message="tns:ITagService_StopTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTagsAndScanStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/GetAllTagsAndScanStatus" message="tns:ITagService_GetAllTagsAndScanStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/GetAllTagsAndScanStatusResponse" message="tns:ITagService_GetAllTagsAndScanStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Init">
      <wsdl:input wsaw:Action="http://tempuri.org/ITagService/Init" message="tns:ITagService_Init_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITagService/InitResponse" message="tns:ITagService_Init_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITagService" type="tns:ITagService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveTags">
      <soap:operation soapAction="http://tempuri.org/ITagService/SaveTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTags">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTag">
      <soap:operation soapAction="http://tempuri.org/ITagService/AddTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTag">
      <soap:operation soapAction="http://tempuri.org/ITagService/DeleteTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTagNames">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetAllTagNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOutputTags">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetOutputTags" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllOutput">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetAllOutput" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeOutputTag">
      <soap:operation soapAction="http://tempuri.org/ITagService/ChangeOutputTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StartTag">
      <soap:operation soapAction="http://tempuri.org/ITagService/StartTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StopTag">
      <soap:operation soapAction="http://tempuri.org/ITagService/StopTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTagsAndScanStatus">
      <soap:operation soapAction="http://tempuri.org/ITagService/GetAllTagsAndScanStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Init">
      <soap:operation soapAction="http://tempuri.org/ITagService/Init" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TagService">
    <wsdl:port name="BasicHttpBinding_ITagService" binding="tns:BasicHttpBinding_ITagService">
      <soap:address location="http://localhost:60923/Service/TagService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>