DatabaseManager/Connected Services/TagServiceReference/TagService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SharedLibrary.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SharedLibrary.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTag">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Tag" nillable="true" type="tns:Tag" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTag" nillable="true" type="tns:ArrayOfTag" />
  <xs:complexType name="Tag">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TagName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Tag" nillable="true" type="tns:Tag" />
  <xs:complexType name="DigitalInputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Scan" type="xs:boolean" />
          <xs:element minOccurs="0" name="ScanTime" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalInputTag" nillable="true" type="tns:DigitalInputTag" />
  <xs:complexType name="DigitalOutputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="InitialValue" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DigitalOutputTag" nillable="true" type="tns:DigitalOutputTag" />
  <xs:complexType name="AnalogInputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="Alarms" nillable="true" type="tns:ArrayOfAlarm" />
          <xs:element minOccurs="0" name="Driver" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HighLimit" type="xs:int" />
          <xs:element minOccurs="0" name="LowLimit" type="xs:int" />
          <xs:element minOccurs="0" name="Scan" type="xs:boolean" />
          <xs:element minOccurs="0" name="ScanTime" type="xs:int" />
          <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnalogInputTag" nillable="true" type="tns:AnalogInputTag" />
  <xs:complexType name="ArrayOfAlarm">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Alarm" nillable="true" type="tns:Alarm" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlarm" nillable="true" type="tns:ArrayOfAlarm" />
  <xs:complexType name="Alarm">
    <xs:sequence>
      <xs:element minOccurs="0" name="Border" type="xs:int" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="Type" type="tns:AlarmType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Alarm" nillable="true" type="tns:Alarm" />
  <xs:simpleType name="AlarmType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LOW" />
      <xs:enumeration value="HIGH" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="AlarmType" nillable="true" type="tns:AlarmType" />
  <xs:complexType name="AnalogOutputTag">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Tag">
        <xs:sequence>
          <xs:element minOccurs="0" name="HighLimit" type="xs:int" />
          <xs:element minOccurs="0" name="InitialValue" type="xs:int" />
          <xs:element minOccurs="0" name="LowLimit" type="xs:int" />
          <xs:element minOccurs="0" name="Units" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AnalogOutputTag" nillable="true" type="tns:AnalogOutputTag" />
</xs:schema>